# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform/**/terraform.tfvars
crash.log

# Python
__pycache__/
*.pyc
.venv/
.env

# Node
node_modules/
npm-debug.log
proofs/

# OS / IDE
.DS_Store
.vscode/
.idea/
